@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  --background-color: #1c2023;
  --font-family: "Rubik", sans-serif;
  --second-family: "Inter", sans-serif;
  --navtext-color: #ffffff80;
  --navtext-hoover: #8856d9;
  --white-color: #fff;
  --text-color: #a9c7c7;
  --item-text-color: #8c96a0;
}

body {
  width: 1920px;
  height: 5460px;
  background: var(--background-color);
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
}

.img-burger {
  margin-left: 290px;
  margin-top: 10px;
}

.nav-link {
  color: var(--navtext-color);
  line-height: 193%;
}
.nav-link:hover {
  color: var(--navtext-hoover);
}

.navbar-button {
  position: relative;
  border: none;
  background: transparent;
}
.navbar-nav {
  display: flex;
  width: 640px;
  justify-content: space-between;
  margin-left: 370px;
}
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
  position: relative;
}
.navbar-dropdown {
  background-color: transparent !important;
  border: none;
  color: red;
}

header {
  height: 764px;
  background: url("/img/King.png") no-repeat right top;
  margin: 0 auto;
}

.navtext-language {
  font-weight: 700;
  color: var(--white-color);
}

.navbar-dropdown.active {
  background-color: transparent !important;
}

.main-text {
  width: 538px;
  height: 199px;
  margin-left: 280px;
  margin-top: 112px;
  margin-bottom: 27px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 100px;
  line-height: 100%;
  color: var(--white-color);
}
.main-subtext {
  width: 543px;
  height: 74px;
  margin-left: 287px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--text-color);
}
.main-button {
  width: 145px;
  height: 42px;
  margin-left: 287px;
  border-radius: 6px;
  background: var(--navtext-hoover);
  border: none;
  margin-top: 50px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--white-color);
}

.editions__header {
  margin: 54px auto 32px;
  text-align: center;
  color: var(--white-color);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 40px;
}
.editions__list {
  width: 1132px;
  height: 458px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.editions__list__item {
  border-radius: 6px;
  width: 350px;
  height: 458px;
  background: linear-gradient(180deg, #141615 0%, #1c2023 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.editions__list__item__img {
  margin: 17px auto 21px;
}
.editions__list__item__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  color: var(--white-color);
  text-align: center;
}
.editions__list__item__subtitle {
  margin: 15px auto 32px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--text-color);
}
.editions__list__item__text {
  font-family: var(--font-family);
  color: var(--item-text-color);
  row-gap: 12px;
  align-items: start;
  margin-left: 17px;
}
.editions__list__item__price1 {
  align-items: end;
  margin: 6px 0 14px 270px;
  color: var(--white-color);
}
.editions__list__item__btn1 {
  margin-left: 237px;
  width: 96px;
  height: 29px;
  border-radius: 6px;
  border: none;
  width: 96px;
  height: 29px;
  background-color: var(--navtext-hoover);
  color: var(--white-color);
}