@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  --background-color: #1c2023;
  --font-family: "Rubik", sans-serif;
  --second-family: "Inter", sans-serif;
  --navtext-color: #ffffff80;
  --navtext-hoover: #8856d9;
  --white-color: #fff;
  --text-color: #a9c7c7;
  --item-text-color: #8c96a0;
  --button-bg: #ff4136;
  --playbtn-bg: #30373f;
}

body {
  width: 1920px;
  height: 5460px;
  background: var(--background-color);
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.img-burger {
  margin-left: 290px;
  margin-top: 10px;
}

.nav-button {
  color: var(--navtext-color);
  line-height: 193%;
}
.nav-button:hover {
  color: var(--navtext-hoover);
}

.navbar-button {
  position: relative;
  border: none;
  background: transparent;
}
.navbar-nav {
  display: flex;
  width: 640px;
  justify-content: space-between;
  margin-left: 370px;
}
.navbar .active {
  color: #8856d9;
}
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
  position: relative;
}
.navbar-dropdown {
  background-color: transparent !important;
}

header {
  height: 764px;
  background: url("/img/King.png") no-repeat right top;
  margin: 0 auto;
}

.navtext-language {
  font-weight: 700;
  color: var(--white-color);
}

.navbar-dropdown.active {
  background-color: transparent !important;
}

.main-text {
  width: 538px;
  height: 199px;
  margin-left: 280px;
  margin-top: 112px;
  margin-bottom: 27px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 100px;
  line-height: 100%;
  color: var(--white-color);
}
.main-subtext {
  width: 543px;
  height: 74px;
  margin-left: 287px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--text-color);
}
.main-button {
  width: 145px;
  height: 42px;
  margin-left: 287px;
  border-radius: 6px;
  background: var(--navtext-hoover);
  border: none;
  margin-top: 50px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--white-color);
}

.editions__header {
  margin: 54px auto 32px;
  text-align: center;
  color: var(--white-color);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 40px;
}
.editions__list {
  width: 1132px;
  height: 458px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.editions__list__item {
  border-radius: 6px;
  width: 350px;
  height: 458px;
  background: linear-gradient(180deg, #141615 0%, #1c2023 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.editions__list__item__btn1 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 13px;
}
.editions__list__item__btn1:hover {
  color: var(--navtext-hoover);
  background-color: var(--playbtn-bg);
}
.editions__list__item__btn2 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 13px;
}
.editions__list__item__btn2:hover {
  color: var(--navtext-hoover);
  background-color: var(--playbtn-bg);
}
.editions__list__item__btn3 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 13px;
}
.editions__list__item__btn3:hover {
  color: var(--navtext-hoover);
  background-color: var(--playbtn-bg);
}
.editions__list__item__img {
  margin: 17px auto 21px;
}
.editions__list__item__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  color: var(--white-color);
  text-align: center;
}
.editions__list__item__subtitle {
  margin: 15px auto 32px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--text-color);
}
.editions__list__item__text {
  font-family: var(--font-family);
  color: var(--item-text-color);
  row-gap: 12px;
  align-items: start;
  margin-left: 17px;
}
.editions__list__item__price1 {
  align-items: end;
  margin: 6px 0 14px 270px;
  color: var(--white-color);
}
.editions__list__item__btn1 {
  margin-left: 237px;
  width: 96px;
  height: 29px;
  border-radius: 6px;
  border: none;
  width: 96px;
  height: 29px;
  background-color: var(--navtext-hoover);
  color: var(--white-color);
}
.editions__list__item__btn2 {
  margin-left: 237px;
  width: 96px;
  height: 29px;
  border-radius: 6px;
  border: none;
  width: 96px;
  height: 29px;
  background-color: var(--navtext-hoover);
  color: var(--white-color);
}
.editions__list__item__btn3 {
  margin-left: 237px;
  width: 96px;
  height: 29px;
  border-radius: 6px;
  border: none;
  width: 96px;
  height: 29px;
  background-color: var(--navtext-hoover);
  color: var(--white-color);
}

.modal-content {
  width: 470px;
  height: 565px;
  background: url("/img/worriors_axe_bowel.png") no-repeat center/cover;
}

.dualSense__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  color: var(--white-color);
  text-align: center;
  margin-top: 54px;
  margin-bottom: 20px;
}
.dualSense__main {
  position: relative;
  width: 917px;
  height: 309px;
  margin: 0 auto;
}
.dualSense__main__img {
  position: absolute;
  right: 0;
  top: -12%;
  animation: animateY50 5s linear infinite;
}
.dualSense__main__text-top {
  width: 425px;
  height: 54px;
  margin-bottom: 22px;
  margin-top: 70px;
  font-size: 18px;
  line-height: 150%;
  color: var(--text-color);
}
.dualSense__main__text-top__span {
  font-weight: 700;
  color: var(--navtext-hoover);
}
.dualSense__main__text-bottom {
  width: 410px;
  height: 81px;
  font-size: 18px;
  line-height: 150%;
  color: var(--text-color);
}
.dualSense__main__text-bottom__span {
  font-weight: 700;
  color: var(--button-bg);
}
.dualSense__main__bottom {
  margin-top: 27px;
  display: flex;
}
.dualSense__main__bottom__price {
  width: 105px;
  height: 36px;
  font-weight: 700;
  font-size: 30px;
  color: var(--white-color);
  margin-right: 33px;
}
.dualSense__main__bottom__btn {
  width: 274px;
  height: 46px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: var(--button-bg);
  border-radius: 6px;
}

.trailer__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  color: var(--white-color);
  text-align: center;
  margin-top: 60px;
  margin-bottom: 32px;
}
.trailer__box {
  width: 1920px;
  height: 944px;
  background: url(/img/trailer.png) no-repeat center/cover;
  opacity: 0.7;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.trailer__box__title {
  font-weight: 500;
  font-size: 50px;
  line-height: 78%;
  color: var(--white-color);
  width: 404px;
  height: 39px;
  margin-top: 457px;
  z-index: 2;
}
.trailer__box__btn {
  border-radius: 6px;
  width: 93px;
  height: 33px;
  background-color: var(--playbtn-bg);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--white-color);
  border: none;
  margin-top: 29px;
  z-index: 2;
}
.trailer__video {
  width: 100%; /* Makes video responsive */
  height: 100%; /* Makes video fill the box */
  position: absolute; /* Allows positioning behind other elements */
  top: 0; /* Aligns the video to the top */
  left: 0; /* Aligns the video to the left */
  z-index: 1; /* Ensures video is behind text */
  display: none;
}

@keyframes animateY50 {
  25% {
    transform: translateY(100px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-100px);
  }
}